<div class="toolbar">
  <h1 class="titolo">Trova un tavolo per ogni occasione</h1>
  <div>
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <button mat-raised-button color="warn" class="andiamo">Andiamo</button>
  </div>
</div>
<div class="container">
  <h1>Disponibile adesso per il pranzo</h1>
  <div class="flexato">
    <app-card
      *ngFor="let ristorante of ristoranti?.array"
      [ristoranti]="ristoranti?.array"
      [nome]="ristorante.restaurantName"
      [company]="ristorante.companyName"
      [cucine]="ristorante.cuisine"
      [telefono]="ristorante.phone"
      [city]="ristorante.geolocation.city"
      [address]="ristorante.geolocation.address"
    ></app-card>
  </div>
  <div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="120"
      [rowsPerPageOptions]="[10, 20, 30]"
    ></p-paginator>
  </div>
</div>
